<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] 🌷%highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow bold, DEBUG=blue, TRACE=blue} %logger{36}.%M() @%L - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>


</Configuration>